In [1]:
import os

In [2]:
%pwd

'c:\\Users\\sredekar\\OneDrive - Interpublic\\Desktop\\Datascience\\assignment\\ETE_ML_Project\\research'

In [4]:
os.chdir('./')

In [5]:
%pwd

'c:\\Users\\sredekar\\OneDrive - Interpublic\\Desktop\\Datascience\\assignment\\ETE_ML_Project'

In [6]:
import pandas as pd
from Mlproject.utils.common import *


data = pd.read_csv("artifacts\\data_ingestion\\UCI_Credit_Card.csv")
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [14]:
discreate_vars = [i for i in data.columns if len(data[i].unique()) < 15]

for i in discreate_vars:
    print(f'{i} : {data[i].nunique()}')
print()
print()
for i in discreate_vars:
    print(f'{i} : {data[i].unique()}')

SEX : 2
EDUCATION : 7
MARRIAGE : 4
PAY_0 : 11
PAY_2 : 11
PAY_3 : 11
PAY_4 : 11
PAY_5 : 10
PAY_6 : 10
default.payment.next.month : 2


SEX : [2 1]
EDUCATION : [2 1 3 5 4 6 0]
MARRIAGE : [1 2 3 0]
PAY_0 : [ 2 -1  0 -2  1  3  4  8  7  5  6]
PAY_2 : [ 2  0 -1 -2  3  5  7  4  1  6  8]
PAY_3 : [-1  0  2 -2  3  4  6  7  1  5  8]
PAY_4 : [-1  0 -2  2  3  4  5  7  6  1  8]
PAY_5 : [-2  0 -1  2  3  5  4  7  8  6]
PAY_6 : [-2  2  0 -1  3  6  4  7  8  5]
default.payment.next.month : [1 0]

In [8]:
pd.set_option('display.max_rows',None)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  float64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  float64
 13  BILL_AMT2                   30000 non-null  float64
 14  BILL_AMT3                   30000 non-null  float64
 15  BILL_AMT4                   30000 non-null  float64
 16  BILL_AMT5                   30000 non-null  float64
 17  BILL_AMT6                   30000 non-null  float64
 18  PAY_AMT1                    30000 non-null  float64
 19  PAY_AMT2                    30000 non-null  float64
 20  PAY_AMT3                    30000 non-null  float64
 21  PAY_AMT4                    30000 non-null  float64
 22  PAY_AMT5                    30000 non-null  float64
 23  PAY_AMT6                    30000 non-null  float64
 24  default.payment.next.month  30000 non-null  int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [9]:
data.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [10]:
data['default.payment.next.month'].value_counts(normalize=True)*100

default.payment.next.month
0    77.88
1    22.12
Name: proportion, dtype: float64

In [11]:
for column in data.columns:
    print(f"{column}: {data[column].dtype}")

ID: int64
LIMIT_BAL: float64
SEX: int64
EDUCATION: int64
MARRIAGE: int64
AGE: int64
PAY_0: int64
PAY_2: int64
PAY_3: int64
PAY_4: int64
PAY_5: int64
PAY_6: int64
BILL_AMT1: float64
BILL_AMT2: float64
BILL_AMT3: float64
BILL_AMT4: float64
BILL_AMT5: float64
BILL_AMT6: float64
PAY_AMT1: float64
PAY_AMT2: float64
PAY_AMT3: float64
PAY_AMT4: float64
PAY_AMT5: float64
PAY_AMT6: float64
default.payment.next.month: int64

In [14]:
data.columns.to_list()[1]

'LIMIT_BAL'

In [15]:
from dataclasses import dataclass
from pathlib import Path


@dataclass(frozen=True)
class DataValidationConfig:
    root_dir: Path
    unzip_data_dir: Path
    STATUS_FILE: str
    all_schema: dict

In [16]:
from Mlproject.constants import *
from Mlproject.utils.common import read_yaml, create_directories


class ConfigurationManager:
    def __init__(
        self,
        config_filepath = CONFIG_FILE_PATH,
        params_filepath = PARAMS_FILE_PATH,
        schema_filepath = SCHEMA_FILE_PATH):

        self.config = read_yaml(config_filepath)
        self.params = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)

        create_directories([self.config.artifacts_root])

    def get_data_validation_config(self) -> DataValidationConfig:
        config = self.config.data_validation
        schema = self.schema.COLUMNS

        create_directories([config.root_dir])

        data_validation_config = DataValidationConfig(
            root_dir= config.root_dir,
            unzip_data_dir=config.unzip_data_dir,
            STATUS_FILE=config.STATUS_FILE,
            all_schema=schema,
        )

        return data_validation_config

In [19]:
import os
import pandas as pd
from Mlproject import logger

class DataValidation:
    def __init__(self, config : DataValidationConfig):
        self.config = config

    def validate_all_columns(self) -> bool:
        try:
            validation_status = True

            data = pd.read_csv(self.config.unzip_data_dir)
            all_cols = list(data.columns)
            all_schema = self.config.all_schema.keys()

            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    logger.error(f"Column {col} not found in schema.")
                    break  

            with open(self.config.STATUS_FILE, 'w') as f:
                f.write(f"Validation_status: {validation_status}\n")

            return validation_status
        
        except Exception as e:
            logger.error(f"Error during column validation: {str(e)}")
            raise e

        

    def validate_column_types(self)-> bool:
        try:
            type_status = True
            data = pd.read_csv(self.config.unzip_data_dir)
            
            for col, expected_dtype in self.config.all_schema.items():
                if col in data.columns.to_list():
                    if data[col].dtype != expected_dtype:
                        type_status = False
                        logger.error(f"Column {col} has a different data type: expected {expected_dtype}, found {data[col].dtype}")
                        break  
                    
                else:
                    type_status = True
                    
            with open(self.config.STATUS_FILE, 'a') as f:
                f.write(f"Type_status: {type_status}\n")
            return type_status
        except Exception as e:
            raise e
        
    def validate_missing_values(self)-> bool:
        try:
            missing_status = False
            data = pd.read_csv(self.config.unzip_data_dir)

            for col in data.columns.to_list():
                count = data[col].isnull().sum() 
                if count > 0:
                    missing_status = True
                    logger.error(f'Column {col} has {count} missing values')
                    break
            with open(self.config.STATUS_FILE,'a') as f:
                f.write(f'Missing_Value_Status: {missing_status}\n')
                

        except Exception as e:
            raise e

In [20]:
try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValidation(config=data_validation_config)
    data_validation.validate_all_columns()
    data_validation.validate_column_types()
    data_validation.validate_missing_values()
except Exception as e:
    raise e

[2024-08-17 07:16:15,428: INFO: common: yaml file: config\config.yaml loaded successfully]
[2024-08-17 07:16:15,433: INFO: common: yaml file: params.yaml loaded successfully]
[2024-08-17 07:16:15,447: INFO: common: yaml file: schema.yaml loaded successfully]
[2024-08-17 07:16:15,448: INFO: common: created directory at: artifacts]
[2024-08-17 07:16:15,452: INFO: common: created directory at: artifacts/data_validation]

In [115]:
with open(Path("artifacts/data_validation/status.txt"), "r") as f:
                    status = f.read().replace('\n'," ").replace(': ',':').split(' ')[:-1]


Status = True
for item in status[:-1]:
    if item:
        key,value = item.split(':')
        if value.strip() != 'True':
            Status = False
            print(f'Data will not transform as validation failed in {key}')
        else:
            pass
print(Status)

True

Data will not transform as validation failed in Type_status
Data will not transform as validation failed in Missing_Value_Status

In [102]:


Status = True
for item in status:
    if item:
        # Split the status string into key and value
        key, value = item.split(':')
        # Convert value to boolean
        if value.strip() != 'True':
            Status = False
            print(f'Data will not transform as validation failed in {key}')
        else:
            pass

print(Status)

Data will not transform as validation failed in Type_status
Data will not transform as validation failed in Missing_Value_Status
False